
/*
 *******************
 * =common
 *******************
*/

.site {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 0 10px;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

h2,
h3,
h4 {
  margin: 35px 0 0;
}

ul {
  display: block;
  padding: 0 40px;
}

p, li {
  font-size: 14px;
  line-height: 2em;
  /*margin: 5px 0;*/
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover {
  color: #5be;
}

a:visited {
  color: #999;
}

.nav a {
  color: #39c;
}

.selected {
  font-weight: bold;
}

.post img {
  width: 100%;
  /*border: 1px solid #eee;*/
}

blockquote {
  border-left: 4px solid #eee;
  color: #999;
  display: block;
  margin: 1em 0em;
  padding-left: 1.5em;
  text-align: left;
}

/*
 *******************
 * =post
 *******************
*/
/*
.header {
  margin-top: 20px;
}
*/
.header ul {
  padding-left: 0;
}

.header li {
  display: inline-block;
  margin-left: 0;
  margin-right: 20px;
}

.post {
  margin-bottom: 35px;
  padding-bottom: 35px;

}

.post-title {
  /*border-bottom: 1px solid #EEE;*/
  margin-bottom: 20px;
  padding: 20px 0 0;
}

.meta {
  color: #999;
  margin-top: -10px;
  font-size: 12px;
}

/*
 *******************
 * =homepage
 *******************
*/
.site-title {
  color: #555;
  font-size: 16px;
  /*font-style: italic;*/
  font-weight: normal;
}

/*.site-title a:before {
  content: '» ';
}
*/
.posts, .jed {
  padding: 0;
}

.posts li, .jed li {
  line-height: 1.8em;
  list-style-type: none;
  padding: 0;
}

.posts li span{
  font-size: 12px;
  /*font-style: italic;*/
}

.posts span, .year {
  color: #999;
  margin: 0 20px 0 0;
}

.year {
  margin-top: 20px;
}

.home {
  margin-bottom: 40px;
}

/*
 *******************
 * =table
 *******************
*/

table {
    border-collapse: collapse;
    font-size: 14px;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}

table tr {
    background-color: white;
    border-top: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

table tr th {
    border: 1px solid #CCCCCC;
    font-weight: bold;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 6px 13px;
}

table tr th *:first-child, table tr td *:first-child {
    margin-top: 0;
}

table tr th *:last-child, table tr td *:last-child {
    margin-bottom: 0;
}
