body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1909px;
  height:995px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1909px;
  height:995px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:365px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:681px;
  width:688px;
  height:365px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:29px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:1020px;
  width:2px;
  height:26px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:1020px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6_ann {
  border-width:0px;
  position:absolute;
  left:504px;
  top:1016px;
  width:1px;
  height:1px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1057px;
  width:300px;
  height:22px;
}
#u8_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u8.selected {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1056px;
  width:280px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:right;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1056px;
  width:150px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:right;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1092px;
  width:300px;
  height:22px;
}
#u13_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u13.selected {
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1091px;
  width:280px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:right;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1091px;
  width:150px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:right;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1127px;
  width:300px;
  height:22px;
}
#u18_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u18.selected {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1126px;
  width:280px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:right;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1126px;
  width:150px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:right;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
